{% extends "base.html" %}

{% block content %}

<div class="container content-section">
  <h4>Make a new machine</h4>
  {% if message %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <div class="row">
    <div class="col">
      <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.MachineName.label(class="form-control-label") }}
        {% if form.MachineName.errors %}
        {{ form.MachineName(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.MachineName.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.MachineName(class="form-control form-control-lg") }}
        {% endif %}

        {{ form.MachineMacAddress.label(class="form-control-label") }}
        {% if form.MachineMacAddress.errors %}
        {{ form.MachineMacAddress(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.MachineMacAddress.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.MachineMacAddress(class="form-control form-control-lg") }}
        {% endif %}

        {{ form.academicAmount.label(class="form-control-label") }}
        {% if form.academicAmount.errors %}
        {{ form.academicAmount(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.academicAmount.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.academicAmount(class="form-control form-control-lg") }}
        {% endif %}

        {{ form.industrialAmount.label(class="form-control-label") }}
        {% if form.industrialAmount.errors %}
        {{ form.industrialAmount(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.industrialAmount.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.industrialAmount(class="form-control form-control-lg") }}
        {% endif %}
        <div class="form-group">
          <br>
          {{ form.submit(class="btn btn-outline-primary") }}
            <a href="/home.html" <button type="button" class="btn btn-outline-danger">Cancel</button></a>
        </div>
      </form>

    </div>
  </div>
</div>



<div class="container content-section">
  <table class="table">
    <br><br>
    <thead>
      <tr>
        <th scope="col">
          <h3>Machine Name's:</h3>
        </th>
        <th scope="col">Academic Rate</th>
        <th scope="col">Industrial Rate</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    {% for machine in machines %}
    <tr>
      <td> {{machine[1]}} </td>
      <td> {{machine[3]}} </td>
      <td> {{machine[4]}} </td>
      <td><a href="/editMachine/{{machine[5]}}" <button type="button" class="float-right btn btn-warning">Edit</button></td>
      <td><a href="/deleteMachine/{{machine[1]}}" <button type="button" class="float-right btn btn-danger">Delete</button></td>
    </tr>
    {% endfor %}
  </table>

</div>

{% endblock %}
