{% extends "base.html" %}

{% block content %}
<div class="container content-section">

  <h2>INFO</h2>
  {% if data %}

  <h2>{{data}}</h2>

{% else %}

<h4>No data given</h4>



{% endif %}

  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      {{ form.userName.label(class="form-control-label") }}
      {% if form.userName.errors %}
      {{ form.userName(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.userName.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.userName(class="form-control form-control-lg") }}
      {% endif %}
      <br>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-primary") }}
      </div>

    </form>

  </div>
</div>
{% endblock %}
