{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <h2>Supervisors: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadSuper" enctype="multipart/form-data">
      <div class="form group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadSuper" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>

      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Supervisors
        </button>
      </div>
    </form>

    <div class="container" style="margin-top:10px;">
      <a href="/downloadSupervisors" download="Supervisors">
        <button type="submit" class="btn btn-outline-secondary">
          Download Supervisors file
        </button>
      </a>
    </div>
  </div>
  {% if message == "supervisorSuccess" %}
  <p class="card-text" style="color:green">Uploaded the supervisor file succesfully</p>
  {% elif message == "supervisorFailure" %}
  <p class="card-text" style="color:red">Error with supervisor file upload</p>
  {% endif %}
</div>

<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>

<div class="container">
  <div class="row">
    <h2>Departments: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadDepartments" enctype="multipart/form-data">
      <div class="form group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadDepartments" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Departments
        </button>
      </div>
    </form>
    <div class="container" style="margin-top:10px;">
      <a href="/downloadDepartments" download="Departments">
        <button type="submit" class="btn btn-outline-secondary">
          Download Departments file
        </button>
      </a>
    </div>
  </div>
  {% if message == "departmentsSuccess" %}
  <p class="card-text" style="color:green">Uploaded the departments file succesfully</p>
  {% elif message == "departmentsFailure" %}
  <p class="card-text" style="color:red">Error with departments file upload</p>
  {% endif %}
</div>
<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>




<div class="container">
  <div class="row">
    <h2>Faculty: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadFaculty" enctype="multipart/form-data">
      <div class="form group">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadFaculty" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Faculty
        </button>
      </div>
    </form>
    <div class="container" style="margin-top:10px;">
      <a href="/downloadFaculty" download="Faculty">
        <button type="submit" class="btn btn-outline-secondary">
          Download Faculty file
        </button>
      </a>
    </div>
  </div>
  {% if message == "facultySuccess" %}
  <p class="card-text" style="color:green">Uploaded the faculty file succesfully</p>
  {% elif message == "facultyFailure" %}
  <p class="card-text" style="color:red">Error with faculty file upload</p>
  {% endif %}
</div>
<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>

<div class="container">
  <div class="row">
    <h2>Institution: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadInstitution" enctype="multipart/form-data">
      <div class="form group">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadInstitution" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Institution
        </button>
      </div>
    </form>
    <div class="container" style="margin-top:10px;">
      <a href="/downloadInstitution" download="Institution">
        <button type="submit" class="btn btn-outline-secondary">
          Download Institution file
        </button>
      </a>
    </div>
  </div>
  {% if message == "institutionSuccess" %}
  <p class="card-text" style="color:green">Uploaded the institution file succesfully</p>
  {% elif message == "institutionFailure" %}
  <p class="card-text" style="color:red">Error with institution file upload</p>
  {% endif %}
</div>
<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>

<div class="container">
  <div class="row">
    <h2>Rate Type: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadRateType" enctype="multipart/form-data">
      <div class="form group">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadRateType" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Rate Type
        </button>
      </div>
    </form>
    <div class="container" style="margin-top:10px;">
      <a href="/downloadRateType" download="Rate Type">
        <button type="submit" class="btn btn-outline-secondary">
          Download Rate Type file
        </button>
      </a>
    </div>
  </div>
  {% if message == "rateTypeSuccess" %}
  <p class="card-text" style="color:green">Uploaded the rate type file succesfully</p>
  {% elif message == "rateTypeFailure" %}
  <p class="card-text" style="color:red">Error with rate type file upload</p>
  {% endif %}
</div>
<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>

<div class="container">
  <div class="row">
    <h2>Users: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadUsers" enctype="multipart/form-data">
      <div class="form group">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadUsers" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Users
        </button>
      </div>
    </form>
    <div class="container" style="margin-top:10px;">
      <a href="/downloadUsers" download="Users">
        <button type="submit" class="btn btn-outline-secondary">
          Download Users file
        </button>
      </a>
    </div>
  </div>
  {% if message == "usersSuccess" %}
  <p class="card-text" style="color:green">Uploaded the users file succesfully</p>
  {% elif message == "usersFailure" %}
  <p class="card-text" style="color:red">Error with users file upload</p>
  {% endif %}
</div>
<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>

<div class="container">
  <div class="row">
    <h2>Usage: </h2>
  </div>
  <div class="row">
    <form method="POST" action="/uploadUsage" enctype="multipart/form-data">
      <div class="form group">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="uploadUsage" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Select File ...</label>
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <button type="submit" class="btn btn-outline-info">
          Upload new Usage
        </button>
      </div>
    </form>
    <div class="container" style="margin-top:10px;">
      <a href="/downloadUsage" download="Usage">
        <button type="submit" class="btn btn-outline-secondary">
          Download Usage file
        </button>
      </a>
    </div>
  </div>
  {% if message == "usageSuccess" %}
  <p class="card-text" style="color:green">Uploaded the usage file succesfully</p>
  {% elif message == "usageFailure" %}
  <p class="card-text" style="color:red">Error with usage file upload</p>
  {% endif %}
</div>
<br>

<script type="text/javascript">
  $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  });
</script>
</div>

{% endblock %}
